#canvas{
    position: absolute;
}
body{
    margin: 0;
    padding: 0;
}
.background { 
        position: absolute;
          top: 0; right: 0; bottom: 0; left: 0;
          margin: auto; 
          width: 100%;
          height: 100%;
        background-color: black;
        background: hsl(256, 18%, 17%);
          background-image:
            radial-gradient(
              circle at right top,
              hsl(256, 18%, 35%),
              hsl(256, 18%, 19%),
              hsl(256, 24%, 16%)
            );
            z-index : -1;
        }